* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#heading {
  font-size: 50px;
  line-height: 64px;
  color: white;
  width: 50px
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: white;
}

h4 {
  font-size: 34px;
  line-height: 30px;
  color: white;
}

h6 {
  font-size: 20px;
  line-height: 15px;
  color: white;
}

p {
  font-size: 20px;
  color: black;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  /*position:sticky;*/
  top: 0;
  height: 75px;

  position: fixed;
  z-index: 1001;
}

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: center;
  width:100%

}

#navbar li {
  list-style: none;
  padding: 0 20px;

}

#navbar li a {
  
  font-size: 16px;
  font-weight: 600;
  color: black;

}
#navbar li a:hover{
  color: blue;
  
}

.button1 {
  background-color: transparent;
  color: blue;
  border: 4;
  border-color: black;
  border-radius: 40px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
}

.dropdown {
  float: left;

}

.dropdown .dropbtn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
  border: none;
  outline: none;
  background-color: transparent;
}
#navbar li a:hover, .dropbtn:hover {
  color: blue;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 600;
}

.dropdown-content a:hover {
  background-color: red;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.active01 {
  background-color: rgba(34, 34, 34, 0.8);
}

/*HERO*/

.scrolling-active {
  background-color: white;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active #header {
  height: 6.6rem;
  background-color: white;
}

.scrolling-active #navbar li a {
  color: #313131;
}

.scrolling-active #header {
  background-color: #313131;
  color: #fff;
}

.scrolling-active .button1 {
  border-color: #151515;
}

.scrolling-active .dropdown .dropbtn {
  color: black;
}

@media (max-width:952px)
{
  #navbar li a{
    font-size: 13px;
    padding: 4px;
  }
}

@media (max-width:952px)
{
  #navbar li a{
    font-size: 13px;
    padding: 4px;
  }

  #navbar button{
    font-size: 13px;
  }
}




.checkbtn{
  font-size: 30px;
  cursor: pointer;
  display:none;
  color: white;
  float:right;
  line-height: 80px;
  margin-right:40px;
}

#check{
  display:none;
}
@media(max-width:600px){
  .checkbtn{
    display:block;
    
  }
  #navbar{
    position: fixed;
    width:100%;
    height:100vh;
    background:#2c3e50;
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  #navbar ul li{
    display:block;
  }
  #check:checked ~ ul{
    left:0;
  }


}

#hero{
  width: 100%;
}

.image01 {
  background-image:
    /*linear-gradient(to bottom, #ace4fe, #f8f0f0 , #f4c7e6 ),
    url('herosec01.webp');*/
    linear-gradient(to bottom, rgba(255, 229, 204, 1) , rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec01.webp');
  height: 700px;
  background-size: cover;
  position: relative;


}

.hero-sec {
  display: flex;
  align-items: center;
  padding: 20px;
}

.top-carousel .banner-content {
  position: relative;
  width: 50%;
  z-index: 1000;
  text-align: center;
  top: 150px;
  color: #fff;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}
.top-carousel .banner-content h1{
  font-size: 50px;
  font-weight:bold;
}
.top-carousel .banner-content p{
  text-align: center;
}

.extrapics{
  width:400px;
  height: 400px;
  padding:200px 10px 0px 100px;
  left:30%;
  animation: extrapics 2s ease-out infinite;
}
  @keyframes extrapics {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @media (max-width:884px)
  {
    .top-carousel .banner-content h1{
      font-size:30px;
    }
    .extrapics{
      width:250px;
      height: 250px;
      padding:100px 10px 0px 50px;


    }

  }
  @media (max-width:370px)
  {
    .top-carousel .banner-content h1{
      font-size:20px;
    }

  }

.image02 {
  background-image:
  linear-gradient(to bottom, rgba(172, 228, 254, 1), rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec02.webp');
  height: 700px;
  background-size: cover;

}

.image03 {
  background-image:
  linear-gradient(to bottom, rgba(255, 229, 204, 1) , rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec03.jpg');
  height: 700px;
  background-size: cover;

}

.image04 {
  background-image:
  linear-gradient(to bottom, rgba(172, 228, 254, 1), rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec04.jpg');
  height: 700px;
  background-size: cover;

}
.image05 {
  background-image:
  linear-gradient(to bottom, rgba(255, 229, 204, 1) , rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec05.jpg');
  height: 700px;
  background-size: cover;

}
.image06 {
  background-image:
  linear-gradient(to bottom, rgba(172, 228, 254, 1), rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec06.jpg');
  height: 700px;
  background-size: cover;

}
.image07 {
  background-image:
  linear-gradient(to bottom, rgba(255, 229, 204, 1) , rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec07.jpg');
  height: 700px;
  background-size: cover;

}
.image08 {
  background-image:
  linear-gradient(to bottom, rgba(172, 228, 254, 1), rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec08.jpg');
  height: 700px;
  background-size: cover;

}
.image09 {
  background-image:
  linear-gradient(to bottom, rgba(255, 229, 204, 1) , rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec09.jpg');
  height: 700px;
  background-size: cover;

}
.image10 {
  background-image:
  linear-gradient(to bottom, rgba(172, 228, 254, 1), rgba(226, 201, 201, 0.62), rgba(201, 182, 210, 1) ),
    url('herosec10.jpg');
  height: 700px;
  background-size: cover;

}




/*linear-gradient(0deg,#2b5a89,#2da585)*/

.carousel-inner p {
  color: black;
  font-weight: bold;;

}

.carousel-indicators {
  bottom: 350px;

}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin-left: 5px;

}



.but{
  text-align: center;
}

.btn-success {
  background: transparent !important;
  color: black !important;
  border: 2px solid black !important;
  display: inline-block;
}

.btn-success:hover {
  color: red;
  border-color: transparent !important;
}



a.btn {
  padding: 10px 30px;
  background: #f7cc4b;
  color: #333;
  border-radius: 50px;
  border: 2px solid #34495e;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  display: inline-block;
  width:120px;
  font-weight: 700;
 
}


@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

/*
.learn-today {
	animation: shadow-pulse 2s infinite;
}

.learn-today:hover {
  animation: none;
}

  
.adjust{
    margin-left: -18px;
}
.download{
    background-color:transparent;
    color:white;
    border:2;
    border-color:white;
    border-radius:40px;
    border-width: 5px;
    padding:14;
    font-size:20px;
    cursor:pointer;
    text-decoration:none;
   ;
}
#save
{
    text-align:center;
    color:red;
    font-size: 30px;
    padding:30px 20px 20px 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#save::after{
    content: "";
    background-color: #f44300;
    display: block;
    width: 80px;
    height: 5px;
    position: relative;
    left: 50%;
    bottom: 2px;
    margin-left: -30px;
    box-sizing: border-box;

    
}

#feature
{
    background-image:url("2.jpg");
    height:60%;
    width:100%;
    background-size:cover;
    background-position:top 25% right 0;
    color:white;
    padding:40px 80px;
    display:flex;
    flex-direction:column;
}
#miss
{
    display: flex;
}
.box{
    height:30px;
    width:30px;
}
#info{
    margin-left: 150px;
}

.point{
    display:flex;
    padding:10px;
}

.report{
    display:flex;
    flex-direction:column;
    padding:40px 80px;  
    flex-flow: row wrap;
    justify-content: flex-start;
}

.lines{
    display:flex;
    padding:10px;
    font-size: 20px;
}


#use
{
    background-image:url("2.jpg");
    height:60%;
    width:100%;
    background-size:cover;
    background-position:top 25% right 0;
    color:white;
    padding:40px 80px;
    display:flex;
    flex-direction:column;
}

#things{
    display:flex;
}


#why{
    padding:30px;
    text-align: center;

}

#service{
    padding:10px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:10px;
    color:#3c3c3c;
}
*/

#rep {
  text-align: center;
  color: red;
  font-size: 30px;
  padding: 30px 20px 30px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rep:after {
  content: "";
  background-color: #f44300;
  display: block;
  width: 80px;
  height: 5px;
  position: relative;
  left: 50%;
  bottom: 2px;
  margin-left: -30px;
  box-sizing: border-box;

}

#button1 {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 15px 0px;
}

#profile {

  background-color: white;
  color: black;
  border: 2;
  border-color: black;
  border-width: 2px;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  ;
}

/*
#model {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 80px;
  background: white
}

#model .box-data {
  width: 400px;
  text-align: center;
  padding: 50px 45px;
  box-shadow: 50px 101px 84px rgba(51, 45, 45, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 25px;
  margin: 15px;
  height: 560px;
  color: white;
}

#model .box-data img {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

#model button {
  background-color: white;
  color: blue;
  border: 2;
  border-color: white;
  padding: 14;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}

#model .box-data:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}

*/
.usp{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 60px;
  column-gap: 40px;
  line-height: 25px;
  height:1300px;

}
.usp{
  background-attachment: fixed;
  background-color: #002e5b;
  /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpQzpLTBnSKnpFxlyGmUdHb8MwTX_twh_Xpg&usqp=CAU);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;*/

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    linear-gradient(to bottom, rgba(72, 116, 151, 0.52), #2da585),
    url('herosec03.jpg');


  height: auto;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  /*box-shadow: 10px 10px 50px white inset;*/
}

.usp .box{
  position: relative;
  width: 350px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 8px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.usp .box .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}
.usp .box .content{
  padding: 7%;

}
.usp .box .content h3{
  font-size: 22px;
  text-align:center;
  padding:7%;
  font-weight: 700;
}
.usp .box .content h5{
  font-size: 19px;
  text-align:center;
  padding:4%;
  font-weight: 600;
}
.usp .box .content p{
  font-size: 18px;
  padding:7%
}

.usp .box .content .ul{
  padding: 7%;
}
.usp .box .read_buttons{
  width: 100%;  
  height: 30px;
  display: flex;

}
.usp .box .read_more{

    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color:black;
    border: 2px solid black !important;
    display: inline-block;
    border-radius: 50px;
    margin: auto;  
    width:160px

}
.usp .box .read_more:hover {
  color: red;
  background-color: black !important;
  text-decoration: none;
}


@media(max-width:803px)
{
  .usp .box .content h3{
    font-size: 17px;
  }
  .usp .box .content p{
    font-size: 13px;
    padding:7%;
    font-weight: 600;
  }
  .usp .box{
    width:200px
  }

}
@media(max-width:510px)
{
  .usp .box .content h3{
    font-size: 12px;
  }
  .usp .box .content p{
    font-size: 10px;
    padding:4%;
    font-weight: 600;
  }
  .usp .box{
    width:160;
  }
  .usp .box .read_more
  {
    font-size: 10px;
    border-radius: 0px;
  }

}
@media(max-width:390px)
{
  .usp .box .content h3{
    font-size: 12px;
  }
  .usp .box .content {
    font-size: 10px;
    padding:1%;
    font-weight: 600;
  }
  .usp .box{
    width:130px;
    margin:5px;
  }
  .usp .box .read_more
  {
    font-size: 10px;
    border-radius: 0px;
  }

}


#head h1 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

#head h2 {

  color: hsl(234, 12%, 34%);
  font-size: 20px;
}

#head {
  margin: 30px 30px 40px 30px;
  text-align: center;
}

#head>h1 {
  margin: 20px 0;
  font-weight: 200;
}

#head>h1 strong {
  font-weight: 600;
}

#main {
  padding-bottom: 30px;
}

#main h5 {
  text-align: center;
  font-weight: 600;
}

#main p {
  /*max-width: 520px;*/
  margin: auto;
  font-size: 15px;
}

#main img {
  height: 90px;
  width: 90px;
}

@media (max-width: 443px) {
  #head>h1 {
    font-size: 1.6em;
  }
}

/*
 * ## Cards Container Class
 */

.cards-container {
  /* List Styling Clean-Up */
  list-style: none;
  padding: 0;
  margin: 0;
  margin: auto;
}


/*
 * ### Responsive Layout Rules
 */

/* When viewport width is equal or greater than 788 pixels,
 * the cards container will fix its width and will append the
 * clear fix pseudo-class to avoid float property issues.
 *
 * The width will depend from the current viewport width.
 * If is greater than 1166 pixels, will be 1106 pixels.
 * Else, then will be 728 pixels.
 */

@media (min-width: 788px) {
  .cards-container {
    width: 728px;
  }

  /* Clear Fix */
  .cards-container::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (min-width: 1166px) {
  .cards-container {
    width: 1106px;
  }
}

/*
 * ## Feature Card Class
 */

[class$='feature-card'] {
  /* Positioning and Sizing */
  position: relative;
  box-sizing: border-box;
  width: 350px;
  height: 350px;

  /* Alignment */
  margin: 0;
  padding: 32px;

  /* Box Details */
  border-radius: 10px;
  border-top: solid 5px black;
  box-shadow: 2px 5px 20px rgb(0, 0, 0, 0.1);
}

/*
 * ### Inner Elements
 */

[class$='feature-card'] h2,
[class$='feature-card'] p {
  margin: 0;
}

[class$='feature-card'] img {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

/*
 * ### Top Border Colors Rules
 */

[class$='feature-card'][class*='cyan'] {
  border-color: hsl(180, 62%, 55%);
}

[class$='feature-card'][class*='red'] {
  border-color: hsl(0, 78%, 62%);
}

[class$='feature-card'][class*='orange'] {
  border-color: hsl(34, 97%, 64%);
}

[class$='feature-card'][class*='blue'] {
  border-color: hsl(212, 86%, 64%);
}



@media (min-width: 788px) {
  [class$='feature-card'] {
    float: left;
  }

  @media (min-width: 1166px) {

    [class$='feature-card']:first-child {
      margin: 140px 0;
    }

    [class$='feature-card']:nth-child(2),
    [class$='feature-card']:nth-child(3) {
      margin: 0 22px;
    }

    [class$='feature-card']:last-child {
      margin-top: -110px;
    }

    [class$='feature-card']:nth-child(3) {
      margin-top: 30px;
    }
  }

  @media (max-width: 1165px) {

    [class$='feature-card']:nth-child(3),
    [class$='feature-card']:nth-child(4) {
      margin-top: 30px;
    }

    [class$='feature-card']:nth-child(2),
    [class$='feature-card']:nth-child(4) {
      margin-left: 28px;
    }
  }
}

@media (max-width: 787px) {

  [class$='feature-card'] {
    width: 400px;
    height: 320px;
    margin: auto;
    padding: 20px;
  }

  [class$='feature-card']:not(:first-child) {
    margin-top: 22px;
  }
}


@media (max-width: 395px) {

  [class$='feature-card'] {
    width: 300px;
    height: 380px;
    margin: auto;
    padding: 20px;
  }

  [class$='feature-card']:not(:first-child) {
    margin-top: 22px;
  }
}





#about-us-sec {
  font-family: 'Playfair Display', serif;
  display: grid;
  /* background-color: #4158D0;*/
  background: linear-gradient(0deg, #2b5a89, #2da585);
  /*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/

  align-content: center;
  min-height: 100vh;
  width:100%
}

#boxxed {

  min-height: 70vh;
  width:80% ;
  place-self: center;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px
}



.cont {
  background-color: #12192c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0 12px 12px 0;
  color: #fff;
}

.cont h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  opacity: 0.9;
  padding-top: 30px;
}

.cont span {
  height: 0.5px;
  width: 80px;
  background: #777;
  margin: 10px 0;
}

.cont p {
  padding-bottom: 15px;
  font-weight: 300;
  opacity: 0.7;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  color: #ffffff
}

.links {
  margin: 15px 0;
}

.links li {
  border: 2px solid #4158D0;
  list-style: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 160px;
  text-align: center;
}

.links li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.links li:hover {
  border-color: #C850C0;
}

.vertical-line {
  height: 30px;
  width: 3px;
  background: #C850C0;
  margin: 0 auto;
}

.icons {
  display: flex;
  padding: 15px 0;
}

.icons li {
  display: block;
  padding: 5px;
  margin: 5px;
}

.icons li i {
  font-size: 26px;
  opacity: 0.8;
}

.icons li i:hover {
  color: #C850C0;
  cursor: pointer;
}


/*****************/

@media(max-width: 900px) {
  .contact-us-sec {
    grid-template-columns: 1fr;
    width: 100%;
    border-radius: none;
    height:600px
  }


  .cont {
    height: 100vh;
    border-radius: none;
  }

  .cont h2 {
    font-size: 20px;
    margin-top: 50px;
  }

  .cont span {
    margin: 20px 0;
  }

  .cont p {
    font-size: 14px;
  }

  .links li a {
    font-size: 14px;
  }

  .links {
    margin: 5px 0;
  }

  .links li {
    padding: 6px 10px;
  }

  .icons li i {
    font-size: 15px;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


#report-card {
  text-align: center;
  
  margin-bottom: 50px;
  width:100%
}

.wraped {

  position: relative;
  display: flex;

  justify-content: center;
  gap: 7%;

}

.contain {
  width: 40vmin;
  height: 60vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background: linear-gradient(0deg, #2b5a89, #2da585);
  border-bottom: 10px solid rgb(48, 151, 215);

}

i {
  color: 18f98f;
  font-size: 2.5em;
  text-align: center;
}

span.num {
  color: white;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 50px;

}

span.texter {
  color: white;
  font-size: 25px;
  pad: 0.7em 0;
  line-height: 1;
  padding: 20px;
  font-weight: 600;
}

@media screen and(max-width:1024px) {


  .contain {
    height: 26vmin;
    width: 25vmin;
    font-size: 12px;
  }
}

@media screen and(max-width:768px) {
  .wraped {

    flex-wrap: wrap;
    gap: 30px;
  }

  .contain {
    width: calc(50%-40%);
    height: 30vmin;
    font-size: 14px;
  }
}

@media screen and(max-width:480px) {
  .wraped {
    gap: 15px;
  }

  .contain {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
  span.num {

    font-size: 16px;
  
  }
}

@media screen and (max-width:818px) {
  #report-card{
    height:70vmin;
    width: 100%;
  }
  .wraped {
    height:60vmin
  }
  .contain {
    width: 30%;
    height: 45vmin;
    font-size: 8px;
  }
  span.texter {
    font-size: 14px;

  }
  }
  @media screen and (max-width:440px) {
    #report-card{
      height:80vmin;
      width: 100%;
    }
    .wraped {
      height:70vmin
    }
    .contain {
      width: 25%;
      height: 60vmin;
 
    }
    span.texter {
      font-size: 14px;
      padding:2px
  
    }
    span.num {

      font-size: 16px;
    
    }
  


}

.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.text-uppercase {
  letter-spacing: 0.2em;
}

#price {
  background: linear-gradient(0deg, #2b5a89, #2da585);
  color: #514B64;
  min-height: 500px;
}

.price-cont {
  padding: 20px 20px 20px 20px;
  align-items: center;
}

.price-sections {
  padding: 20px 20px 20px 20px;
  width: 375px
}

@media (max-width:1552px)
{
  .price-sections{
    width:340px;
    
  }
}

@media (max-width:1393px)
{
  .price-sections{
    width:310px;
    
  }
}

/*
#faq {
  margin: 50px;
}

.layout {
  width: 900px;
  margin: auto;
}

.questions {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.ques p {
  margin: 5px;
  padding: 0;
  font-family: Verdana;
  font-size: 20px;
  background: linear-gradient(0deg, #2b5a89, #2da585);
  margin: 2px;
  padding: 20px;
}

.ans p {
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background: wheat;
  border-radius: 10px;
}

.questions:hover {
  cursor: pointer;
}

.ans {
  display: none;
}

.questions.active .ans {
  display: block;
}

*/

#faq{
  padding-bottom: 30px;
}

.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
width: 60%;
margin: auto;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: 20px;
  font-weight:600;
}

.activate,
.faq-page:hover {
    background-color: #F9F9F9;
}
.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%; 
 padding: auto;
 
}
.faq-body {
  padding: 0 18px;
  background-color:white;
  display: none;
  overflow: hidden;
  font-size: 15px;
}

.faq-body p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.activate:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}



footer {
  background-color: #292929;
}

footer h6 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
  position: relative;
  color: #f5f5f5
}

footer h6:after {
  position: absolute;
  content: "";
  background: grey;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}

.btn-footer {
  color: grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}

.btn-footer:hover {
  text-decoration: none;
}

.form-footer input[type="text"] {
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  padding-left: 10px;

}

::placeholder {
  font-size: 10px;
  padding-left: 20px;
  font-style: italic;
}

.form-footer input[type="button"] {
  border: none;
  background: #232323;
  margin-left: -5px;
  color: #fff;
  outline: none;
  border-radius: 0 16px 16px 0;
  padding: 2px 12px;
}

.social .fa {
  color: grey;
  font-size: 22px;
  padding: 10px 15px;
  background: #3c3c3c;
}

footer ul li {
  list-style: none;
  display: block;
}

footer ul {
  padding-left: 0;
}

footer ul li a {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;

}

.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}